:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --primary-bg-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --background-color: rgba(47, 48, 58, 1);
  --adress-text-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-bg-color);
  );
  ;
  color: var(--primary-text-color);
}

.logo {
  color: #2196f3;
}

.blacklogo {
  color: black;
}

.list {
  list-style: none;
}

/* Site nav */
.site-nav .link {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: black;
}

.site-nav .link.current {
  color: black;
}

/* Auth nav */
.auth-nav .link {
  color: var(--accent-color);
}

.auth-nav .link:hover,
.link:focus {
  color: black;
}

/* Hero */
.hero {
  background-color: var(--background-color);
}
.hero-title {
  color: var(--title-color);
}

/* Button */
.button {
  color: var(--title-text-color);
  background-color:rgba(245, 244, 250, 1);
  }
.filter-buttons .button-link:hover,
.filter-buttons .button-link:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.button.primary {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

/* Section */
.section-title {
  color: var(--title-text-color);
}

/* Advantages */
.Advantages .title {
  color: var(--title-text-color);
}
/* Crew */
.Crew-title {
  color: var(--title-text-color);
}
.Crew .title {
  color: var(--title-text-color);
}

/* footer */
.whitelogo {
  color: #ffffff;
}
.footer {
  background-color: var(--background-color);
}
/* Address */
.address {
  color: var(--title-color);
}
.auth .link {
  color: var(--adress-text-color);
}
.auth .link:hover,
.link:focus {
  color: #fff;
}

/* Portfolio */
.portfolio-items .title {
  color: var(--title-text-color);
}
